{% extends "navbar.html" %}

{% block body %}
    <div class="container">
        <div class="d-flex flex-column justify-content-center" style="height: 90vh; margin-top: 12rem;">
        <h3 class="text-center">За нас </h3>
        <p>Добредојдовте на Техно маркет - електронска продавница за компјутери, компјутерска опрема и компоненти! Ние сме број 1 за сите ваши потреби поврзани со информатичката технологија.
        Нашиот Техно маркет ги нуди најновите и најсовремени производи од светот на компјутерската технологија. Независно дали сте професионален корисник, ентузијаст или студент, ние сме тука да ви помогнеме да ги задоволите вашите потреби и барања.</p>

        <h6 class="text-center">Што не прави нас различни од останатите продавници?</h6>
        <p>Прво и најважно, ние постојано ги следиме најновите трендови и иновации во областа на информатичката технологија и се обидуваме да ги нудиме најдобрите производи на пазарот. Нашиот каталог е богат и разновиден, вклучувајќи го широкиот спектар на компјутери, лаптопи, таблети, монитори, графички карти, процесори, мемориски модули, хард дискови и друга опрема и компоненти.

Во Техно маркет, вашето искуство и задоволство се наши најголеми приоритети. Нашата цел е да ви обезбедиме врвен квалитет на производите, како и одлична услуга и корисничка поддршка. Нашите стручни и пријателски настроени тимови се тука за да ви помогнат во изборот на најсоодветниот производ според вашите потреби и барања.

Освен тоа што нудиме голем избор на производи, во Техно маркет ви овозможуваме и лесно онлајн купување. Нашата веб-страница е лесна за навигација и овозможува брз и сигурен процес на порачка. Доставата на производите е ефикасна и брза со цел да ви обезбедиме најдобро искуство при купувањето.

За нас, вашиот успех е наш успех. Ве покануваме да се приклучите на нашата голема заедница на задоволни купувачи и да ја искористите предноста на нашите понуди, квалитетни производи и извонредна услуга.

Ви благодариме што го посетивте Техно маркет и се надеваме дека ќе ги задоволиме вашите очекувања и барања. Ве молиме, слободно контактирајте не доколку имате било какви прашања, потреби или совети. Нашиот тим е подготвен да ви помогне!</p>
    </div>
        </div>
{% endblock %}