{% extends "navbar.html" %}

{% block body %}

<div class="container">
    <div class="d-flex justify-content-center align-items-center flex-column" style="height: 90vh">
    <p class="text-center fs-2 lh-base">
        Добредојдовте во Техно маркет - електронската продавница каде што се среќаваат иновацијата и перфекцијата. Откријте широк избор од најнапредни компјутери, најсовремени компјутерска опрема и врвни компоненти, со кои ќе го претворите секој свој проект во неверојатен успех. Совршените решенија и неверојатниот квалитет го креираат најдобриот спектакл на технологијата - само за вас!
    </p>
        <a class="btn btn-light mt-3" href="/products">Пребарувај производи</a>
    </div>
</div>

{% endblock %}
