{% extends "navbar.html" %}
{% load static %}

{% block body %}

<div class="container d-flex align-items-center justify-content-center" style="height: 85vh;">
<div class="left-content d-flex align-items-center justify-content-center" style="width: 20%;">

  <div class="d-flex flex-column">
  {% if cuser.profile_image %}
    <div class="rounded-circle img-profile" style="width: 200px; height: 200px; overflow: hidden;">
        <img src="{{MEDIA_URL}}{{cuser.profile_image.url}}" alt="" class="w-100 h-100">
    </div>
  {% else %}
    <div class="rounded-circle img-profile" style="width: 200px; height: 200px; overflow: hidden;">
        <img src="{% static 'default.png' %}" alt="" class="w-100 h-100">
    </div>
  {% endif %}
      {% if cuser.user == request.user %}
    <form id="profileImageForm" action="{% url 'update_profile_image' username=request.user.username %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="profile_image" id="profileImageInput" class="mt-3">
    </form>
      {% endif %}
  </div>
</div>

<div class="right-content d-flex flex-column align-items-center" style="width: 80%;">
    <h3 class="text-center">Лични информации [{{user.username}}]</h3>
    {% if cuser.user == request.user %}
    <form class="w-75 mt-4" action="{% url 'update_user_info' %}" method="post">
        {% csrf_token %}
      <div class="row">
          {% if not user.is_superuser %}
            <p id="role">Тип на корисник: {{user.customuser.role.role}}</p>
          {% endif %}
              <div class="col-sm-12">
                    <div class="mb-3">
                        <label for="username" class="form-label">Корисничко име:</label>
                        <input type="text" class="form-control" id="username" value="{{user.username}}" name="username" disabled>
                  </div>
              </div>
          <div class="col-sm-6">
              <div class="mb-3">
                <label for="name" class="form-label">Име:</label>
                <input type="text" class="form-control" id="name" value="{{user.first_name}}" name="name">
              </div>
          </div>
          <div class="col-sm-6">
              <div class="mb-3">
                <label for="surname" class="form-label">Презиме:</label>
                <input type="text" class="form-control" id="surname" value="{{user.last_name}}" name="surname">
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-sm-6">
              <div class="mb-3">
                <label for="email" class="form-label">Е-маил:</label>
                <input type="email" class="form-control" id="email" value="{{user.email}}" name="email">
              </div>
          </div>
          <div class="col-sm-6">
              <div class="mb-3">
                <label for="address" class="form-label">Адреса на живеење:</label>
                <input type="text" class="form-control" id="address" value="{{cuser.address}}" name="address">
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-sm-6">
              <div class="mb-3">
                <label for="city" class="form-label">Град:</label>
                <input type="text" class="form-control" id="city" value="{{cuser.city}}" name="city">
              </div>
          </div>
          <div class="col-sm-6">
              <div class="mb-3">
                <label for="pass" class="form-label">Промени лозинка:</label>
                <input type="password" class="form-control" id="pass" placeholder="Внеси нова лозинка" name="pass">
              </div>
          </div>
      </div>

      {% if cuser.user == request.user %}
      <div class="w-100 d-flex justify-content-center">
        <button class="btn btn-light mt-3">Промени</button>
      </div>
      {% endif %}
    </form>
    {% else %}
    <div class="w-75 mt-4">
      <div class="row">
          {% if not user.is_superuser %}
            <p>Тип на корисник: {{user.customuser.role.role}}</p>
          {% endif %}
          <div class="col-sm-12">
              <div class="mb-3">
                <label for="username-disabled" class="form-label">Корисничко име:</label>
                <input type="text" class="form-control" id="username-disabled" value="{{user.username}}" name="username" disabled>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="mb-3">
                <label for="name-disabled" class="form-label">Име:</label>
                <input type="text" class="form-control" id="name-disabled" value="{{user.first_name}}" name="name" disabled>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="mb-3">
                <label for="surname-disabled" class="form-label">Презиме:</label>
                <input type="text" class="form-control" id="surname-disabled" value="{{user.last_name}}" name="surname" disabled>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-sm-6">
              <div class="mb-3">
                <label for="email-disabled" class="form-label">Е-маил:</label>
                <input type="email" class="form-control" id="email-disabled" value="{{user.email}}" name="email" disabled>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="mb-3">
                <label for="address-disabled" class="form-label">Адреса на живеење:</label>
                <input type="text" class="form-control" id="address-disabled" value="{{cuser.address}}" name="address" disabled>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-sm-12">
              <div class="mb-3">
                <label for="city-disabled" class="form-label">Град:</label>
                <input type="text" class="form-control" id="city-disabled" value="{{cuser.city}}" name="city" disabled>
              </div>
          </div>
      </div>
    {% endif %}
        </div>
</div>
    </div>


<script>
    document.getElementById('profileImageInput').addEventListener('change', function() {
        document.getElementById('profileImageForm').submit();
    });
</script>
{% endblock %}